    body {
      background-color: #f8f9fa;
    }

    header {
      background-color: #f8f9fa;
      color: #000000;
      padding: 1rem 0;
    }

    footer {
      background-color: #f8f9fa;
      color: 6c757d;
      text-align: center;
      padding: 1rem 0;
      margin-top: 50px;
    }

    .card-hover:hover {
      background-color: #e9ecef;
      cursor: pointer;
      transition: 0.3s;
    }

    .card-title{
      color: #AA8E40
    }

    .card-text{
      color: #2E2E2E;
    }